.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* .Pictures {
  margin: 10px;
} */
img {
  margin: 5px;
}

.Board {
  width: 400px;
  min-height: 200px;
  max-height: auto;
  margin-left: 10px;
  border: 2px solid black;
}